services:
  sccache-server:
    network_mode: host
    image: ghcr.io/fyralabs/fyra-build-client:main
    privileged: true
    restart: unless-stopped
    volumes:
      - cache:/var/cache/sccache

    # Set the below environment variables to configure the sccache server.

    env_file:
      - .env

    environment:
      # - SCHEDULER_URL=http://sccache-scheduler:8080
      # - SERVER_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      - SCCACHE_LOG=sccache=trace # for debugging

volumes:
  cache: